
.menuBar {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.welcome {
  padding: 75px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 75px;
  color: green;
  
}
.southTampa {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 200px;
}
body {
  background-color: honeydew;
}

.App,
.newTransaction {
  color: black
}

.datasheet {
  color: black;
  background-color: blanchedalmond;
}

.typingOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.typingTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}




